page-home {
  .holli-day-firm-card {
    margin-top: 10vh;
    border-bottom: 5px solid #d93954;
  }

  .holli-day-firm-header {
    color: black;
    font-weight: bold;
    background-color: #f3f3f3;
    font-size: 18px;
  }

  .holli-day-firm-scroll {
    max-height: 60vh;
  }

  .holli-day-firm-list-heading {
    padding-left: 0px;
    font-size: 12px;
    color: #333333;
    font-weight: 600;
  }

  .holli-day-firm-list-item {
    border-bottom: 1px solid #cccccc;
    padding-left: 0px;
  }

  .holli-day-firm-view-more-button {
    color: #d93954;
    padding-left: 0px;
  }

  .holli-day-firm-help-text {
    float: left;
    margin-left: 3.1%;
    color: #d8d8d8;
    font-size: 12px;
    width: 31%;
    height: 43px;
    text-align: center;
    line-height: 43px;
  }

  .holli-day-firm-help-button {
    float: left;
    color: #ffffff;
    font-size: 16px;
    margin-left: 6.42%;
    margin-right: 4.57%;
    height: 43px;
    text-align: center;
    line-height: 43px;
  }

  .holli-day-firm-help-label {
    float: left;
    color: #666666;
    font-size: 22px;
    margin: 0;
    height: 43px;
    text-align: center;
    line-height: 43px;
  }

  .holli-day-firm-clear-fix {
    clear: both;
  }
}
